{% extends "node.html.twig" %}
{#
/**
 * @file
 * Schools Base Theme's theme implementation to display a Team Member node.
 */
#}
{% if content.field_mt_fclt_photo|render and content.field_mt_fclt_body|render %}
  {% set two_column_layout = true %}
  {% set top_column_class_first = 'col-sm-4 col-md-5 order-sm-last pl-lg-5' %}
  {% set top_column_class_second = 'col-sm-8 col-md-7 order-sm-first' %}
  {% set bottom_column_class = 'col-sm-8 col-md-7' %}
{% else %}
  {% set two_column_layout = false %}
  {% set top_column_class_first = 'col-12 col-xl-10' %}
  {% set top_column_class_second = 'col-12 col-xl-10' %}
  {% set bottom_column_class = 'col-12 col-xl-10' %}
{% endif %}

{% block content %}
  {{ attach_library('schoolsbase/node-faculty') }}
  <div class="row content-top mb-sm-3">
    {% if content.field_mt_fclt_photo|render %}
      {% if page %}
        {{ attach_library('schoolsbase/magnific-popup-field-mt-fclt-photo-init') }}
      {% endif %}
      <div class="{{ top_column_class_first }}">
        <div class="photo-container mb-4 mb-sm-0">
          {{ content.field_mt_fclt_photo }}
        </div>
      </div>
    {% endif %}
    <div class="{{ top_column_class_second }}">
      {{ content.field_mt_fclt_academic_title }}
      {{ content.field_mt_fclt_body }}
      {{ content.links }}
    </div>
  </div>
  <div class="row content">
    <div class="{{ bottom_column_class }}">
      {{ content|without('field_mt_fclt_photo','field_mt_fclt_body','field_mt_fclt_academic_title','links','field_mt_fclt_banner_image') }}
    </div>
  </div>
{% endblock %}
