{#
/**
 * @file
 * Schools Base Theme's theme implementation to display a Service node in teaser tile view mode.
 */
#}
{% if not content.field_mt_evnt_teaser_image|render %}
  {% include '@schoolsbase/node--mt_event--mt-teaser-tile-text.html.twig' %}
{% else %}
  {%
    set classes = [
      'node',
      'node--type-' ~ node.bundle|clean_class,
      node.isPromoted() ? 'node--promoted',
      node.isSticky() ? 'node--sticky',
      not node.isPublished() ? 'node--unpublished',
      view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
  %}
  {{ attach_library('schoolsbase/node-view-mode-teaser-tile') }}
  <article{{ attributes.addClass(classes) }}>

    {% if content.field_mt_evnt_teaser_image|render or (content.field_mt_evnt_date|render and content.field_mt_evnt_date['0']) %}
      <div class="image-and-date-container">
        {% if content.field_mt_evnt_teaser_image|render %}
          {{ content.field_mt_evnt_teaser_image }}
        {% endif %}
        {% if content.field_mt_evnt_date|render and content.field_mt_evnt_date['0'] %}
          <div class="node__start-date mt-style-custom-tl">
            <span class="node__start-date-day">
              {{ content.field_mt_evnt_date['0']['start_date']['#attributes']['datetime']|date("d") }}
            </span>
            <span class="node__start-date-month">
              {{ content.field_mt_evnt_date['0']['start_date']['#attributes']['datetime']|date("M") }}
            </span>
            <span class="node__start-date-time">
              {{ content.field_mt_evnt_date['0']['start_date']['#attributes']['datetime']|date("H:i") }}
            </span>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {{ title_prefix }}
    {% if not page %}
      <h4{{ title_attributes.addClass("mt-0 node__title") }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h4>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_mt_evnt_teaser_image', 'field_mt_evnt_date', 'field_mt_evnt_body') }}
    </div>

  </article>
{% endif %}